/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  } 
  /*9. Create a root stacking context*/
  #root, #__next {
    isolation: isolate;
  }

@font-face {
    font-family: "adventure";
    src: 
        url("fonts/adventurerdemoregular-webfont.woff2"),
        url("fonts/adventurerdemoregular-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dragrace";
    src: 
        url("fonts/dragracesdemoregular-webfont.woff2"),
        url("fonts/dragracesdemoregular-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "norse";
    src: url("fonts/Norse-Bold.otf");
}

.main {
    display: flex;
    justify-content: center;
}

.section-pic {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("imgs/bg.jpg");
    background-size: cover;
}

.logo {
    background-color: rgba(0, 0, 0, 0.750);
    width: 100%;
    align-self: flex-start;
    margin-top: 5px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    font-family: norse, sans-serif, monospace;
    color: white;
    font-size: 60px;
}

.logo img {
    width: 90px;
    padding: 10px;
}

.credit {
    font-family: adventure, sans-serif, monospace;
    color: white;
}

.credit a {
    text-decoration: none;
    color: white;
}

.section-main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.mid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

.top,
.bottom {
  padding: 20px;
}

.top p {
  font-family: dragrace, sans-serif, monospace;
  font-size: 25px;
}

.mid p {
  font-family: adventure, sans-serif, monospace;
  font-size: 25px;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20vw;
}

user {
  display: flex;
}

.form {
  display: flex;
  gap: 18vw;
  
}

label {
  font-family: norse, sans-serif, monospace;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: bright rgb(24, 39, 126);
  font-family: adventure;
}

.bottom p {
  font-family: adventure, sans-serif, monospace;
  font-size: 25px;
}

.bottom button {
  background-color: rgb(24, 39, 126);
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  font-family: adventure, sans-serif, monospace;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button:hover {
  background-color: rgb(0, 119, 16);
  cursor: pointer;
}